#numbers {
    display: grid;
    grid-template-columns: repeat(4, 52px);
    grid-template-rows: repeat(4, 52px);    
    gap: 8px;
}

#numbers button, #operators button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    background-color: rgb(247, 247, 247);
}

#display {
    height: 70px;
    width: 214px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color:  rgb(241, 241, 241);
    border: 1px solid rgb(201, 201, 201);
    padding: 4px 8px;
    margin: 10px 0;
}

#calculator {
    display: grid;
    justify-content: center;
}